Package: fabric
Version: 1.4a
Architecture: all
Maintainer: Vladimir Lazarenko <vladimir@vlfn.nl>
Installed-Size: 376
Depends: python (>= 2.5), python-support (>= 0.90.0), python-pkg-resources, python-ssh
Section: net
Priority: optional
Homepage: http://fabfile.org/
Description: Simple Pythonic remote deployment tool
 Fabric is designed to upload files and run shell commands on a number of
 servers in parallel or serially. These commands are grouped in tasks (which
 are regular Python functions) and specified in a 'fabfile.'
 .
 It is similar to Capistrano, except it's implemented in Python and doesn't
 expect you to be deploying Rails applications.
